[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyser = "*"
portalocker = "*"
atomicwrites = "*"
filelock = "*"

[dev-packages]
"json5" = "*"
pyyaml = "*"
toml = "*"
pytest = "*"
pipfile = "*"
setupmeta-builder = "*"
